{% extends "base.html" %}
{% block title %}Results - Tor Browser Fingerprinting Tests{% endblock %}
{% block head %}
  {{ super() }}

    <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/jquery.swfobject.1-1-1.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/test_runner.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/navigator.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/locale.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/timedate.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/screen.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/fetch_js_props.js') }}" type="text/javascript"></script> 

{% endblock %}
 
{% block content %}
 {% if result_table %}
    {{result_table}}
  {% else %}
    <div id="flashcontent"></div>
    <img src="{{ url_for('static', filename='img/loading.gif') }}" class="loading" />
  {% endif %}
    
{% endblock %}



